Package: mailhog
Version: 0.1.6-1
Section: Utilities
Priority: extra
Architecture: amd64
Maintainer: Lionel Félicité <deogracia@free.fr>
Homepage: https://github.com/mailhog/MailHog
Description: Web and API based SMTP testing
 Inspired by MailCatcher, easier to install.
 Built with Go - MailHog runs without installation on multiple platforms.
 MailHog is an email testing tool for developers:
  * Configure your application to use MailHog for SMTP delivery
  * View messages in the web UI, or retrieve them with the JSON API
  * Optionally release messages to real SMTP servers for delivery

