Section: Utilities
Priority: extra
Maintainer: Lionel Félicité <deogracia@free.fr>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/mailhog/MailHog
Vcs-Git: https://github.com/mailhog/MailHog.git
Vcs-Browser: https://github.com/mailhog/MailHog

Package: mailhog
Version: 0.1.6-1
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Web and API based SMTP testing
 Inspired by MailCatcher, easier to install.
 Built with Go - MailHog runs without installation on multiple platforms.
 MailHog is an email testing tool for developers:
  * Configure your application to use MailHog for SMTP delivery
  * View messages in the web UI, or retrieve them with the JSON API
  * Optionally release messages to real SMTP servers for delivery

